* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Helpers Start */
.iti-flag {background-image: url("../img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti-flag {background-image: url("../img/flags@2x.png");}
}

/* Helpers End */

/* dashboard Start */
.feedback {
  font-size: 14px;
  &.is-invalid {
    color: red;
  }
  &.is-valid {
    color: green;
  }
}

#error-msg {
  font-size: 14px;
}

#valid-msg {
  color: green;
  &.hide {
    display: none;
  }
}

#error-msg {
  color: red;
  &.hide {
    display: none;
  }
}
/* dashboard End */